@{
    ViewData["Title"] = "Home";
}


<div class="body-content">
    <div class="jumbotron">
        <h1 class="text-center">Cadastro de pessoas</h1>
    </div>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col">Data de nascimento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="griditens">
                <th scope="row">@(item.Id)</th>
                <td>@(item.Nome)</td>
                <td>@(item.Cpf)</td>
                <td>@(item.DataCadastro)</td>
                <td>@(item.DataNasc)</td>
            </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-12">
            <span class="input-group-btn">
                <a class="btn btn-primary" asp-action="Cadastrar">Nova pessoa</a>
            </span>
        </div>

    </div> <!-- fim row -->
</div>

